{$DOMAIN_VWARDEN}:443 {
  log {
    level ERROR
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  # Uncomment this if you want to get a cert via ACME (Let's Encrypt or ZeroSSL).
  # tls {$EMAIL}

  # Or uncomment this if you're providing your own cert. You would also use this option
  # if you're running behind Cloudflare.
  # tls {$SSL_CERT_PATH} {$SSL_KEY_PATH}

  encode gzip

  header {
       # Enable HTTP Strict Transport Security (HSTS)
       Strict-Transport-Security "max-age=31536000;"
       # Enable cross-site filter (XSS) and tell browser to block detected attacks
       X-XSS-Protection "1; mode=block"
       # Disallow the site to be rendered within a frame (clickjacking protection)
       X-Frame-Options "DENY"
       # Prevent search engines from indexing (optional)
       X-Robots-Tag "none"
       # Server name removing
       -Server
  }

  # Allow access to the admin interface only from local networks
  @insecureadmin {
    not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8
    path /admin*
  }
  redir @insecureadmin /

  # Notifications redirected to the websockets server
  reverse_proxy /notifications/hub {$SERVER_VWARDEN}:3012

  # Proxy everything else to Rocket
  reverse_proxy {$SERVER_VWARDEN}:80 {
       header_up X-Real-IP {remote_host}
  }
}
